@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #282c2a;
    color: hsl(150, 5%, 86%);
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.3em;
    width: 768px;
    margin: 64px auto;
}
a{
    text-decoration: none;
}
h1{
    font-weight: 300;
}
nav{
    margin: 32px 0px;
}
    nav a{
        display: inline-block;
        text-align: center;
        width: 140px;
        padding: 8px;
        background-color: hsl(149, 34%, 24%);
        color: hsl(150, 5%, 86%);
        border-radius: 8px;
        transition: 500ms;
        margin: 0 4px;
    }
    nav a:hover{
        background-color: hsl(149, 34%, 34%);
        box-shadow: 0 0 8px hsl(149, 34%, 45%);
    }

#txt{
    background-color: hsl(150, 5%, 20%);
    padding: 8px;
    font-size: 2em;
    border-radius: 8px;
}

#caja{
    width: 256px;
    height: 256px;
    background-color: #afafaf;
    border-radius: 8px;
    padding: 24px;
}

#thumbs img{
    width: 128px;
    cursor: pointer;
    margin: 4px;
    border: 1px solid #282c2a;
    &:hover{
        border: 1px solid hsl(150, 5%, 80%);
    }
}
#ampliada{
    width: 100%;
}

#color-picker{
   margin-top: 16px;
   width: 56px;
   height: 56px;
   position: relative;
   top: 16px;
   cursor: pointer;
}
#btn-picker{
    margin-left: 12px;
    padding: 10px 24px ;
    background-color: hsl(149, 34%, 24%);
    color: hsl(150, 5%, 86%);
    border-radius: 8px;
    transition: 500ms;
    border: none;
    font-size: 20px;
}
#btn-picker:hover{
    background-color: hsl(149, 34%, 34%);
        box-shadow: 0 0 8px hsl(149, 34%, 45%);
}

#persona,
#persona2,
#persona3
{
    width: 320px;
    margin: 24px;
    cursor: pointer;
}
.sepia{
    filter: sepia();
}
.mensaje{
    border-radius: 20px;
    width: 320px;
    height: 320px;
    position: relative;
}
.mensaje::before{
    position: absolute;
    top: 24px;
    left: 24px;
    content: '';
    background-color: #464646a6;
    color: #fff;
    width: 100%;
    height: 100%;
}
.mensaje::after{
    position: absolute;
    bottom: 32px;
    left: 56px;
    content: 'Persona';
    font-size: 48px;
}

#marcas{
    width: 550px;
    margin: 32px auto;
    padding: 24px 16px;
    background-color: rgba(255, 255, 255, 25%);
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    #marcas img{
        cursor: pointer;
        filter: invert();
    }
    #txt2{
        font-size: 2em;
    }
